

<table class="table">
  <tr>
    <th>Marca</th>
    <th>Model</th>
    <th>Price</th>
    <th>Matricula</th>
    <th>Imagen</th>
    <th>Propietario</th>
    <th>Telefon</th>
    <th>Mail</th>
  </tr>
  <tr *ngFor='let cotxe of cotxes | filter'>
    <td><img src="assets/Logos/{{cotxe.marca}}.png" style="width: 40px" alt=""></td>
    <td>{{cotxe.modelo}}</td>
    <td>{{cotxe.precio | currency : 'EUR' : 'symbol' : '1.0-2'}}</td>
    <td><img src="http://www.genware.es/genlib/carnumberimage.php?code='{{cotxe.matricula}}'" width=80px alt=""> </td>
    <td><img cocheStyle src="{{cotxe.imagen}}" alt="" width=60px> </td>
    <td>{{cotxe.propietario}}</td>
    <td>{{cotxe.telefono}}</td>
    <td>{{cotxe.mail}}</td>
  </tr>
</table>
